.dlgSpace {
	width:100%;height: 100%;
	margin: 0px;padding: 0px;
	overflow: auto;
	overflow-x:hidden;
	border:0px;
}
.dlgSpace>ul {
	background:transparent;
}
.dlgSpace .tabspace {
	padding:0px !important;margin:0px !important;
	height: 90%;
}
#dashletSpace {
	list-style: none;
	margin: 0px;padding: 1%;
	background: white;
	width:98%;height: 95%;
	overflow: auto;
	overflow-x:hidden;
}
#dashletSpace .dashletField {
	width:400px;height:180px;
	margin: 3px;padding: 0px;
	float:left;
}
#dashletSpace .dashletField .ui-widget-header {
	padding:2px;
	height:15px;
	overflow: hidden;
}
#dashletSpace .dashletField .photo {
	width:110px;height:150px;
	float:left;
}
#dashletSpace .dashletField .photo img {
	border:0px;
}
#dashletSpace .dashletField .info {
	float:left;
	width: 280px;
	margin-left:3px;
}
#dashletSpace .dashletField .info p {
	margin: 3px;
}
#dashletSpace .dashletField .info .author {
	margin:5px;
	list-style: square;
}
#dashletSpace .dashletField .info hr {
	background:#AAA;
}
input[type=checkbox].dashletEnabler {
	width:8px;height:8px;zoom:2;margin-top:0px;
}